{% extends "base.html" %}
{% block title %}Instructions{% endblock %}

{% block page_content %}

    <div class="index-container">
      <h1>Instructions</h1><hr>
      <p>
        <ol>
          <li>Go to a chat in your Whatsapp app</li>
          <li>Tap on the chat name</li>
          <li>Look for "Export chat"</li>
          <li>Select "Without Media"</li>
          <li>Select e-mail</li>
          <li>Send to chat@chatanalytics.io (You can keep the subject empty)</li>
        </ol>
      </p>

    </div>
{% endblock %}
